
.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}



body {
margin-top: 56px;
}

.modal {
    padding-right: 0px !important;
}